<<<<<<< HEAD
@font-face {
	font-family: star;
	src: url(../../../../../plugins/woocommerce/assets/fonts/star.eot);
	src: url(../../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix) format("embedded-opentype"), url(../../../../../plugins/woocommerce/assets/fonts/star.woff) format("woff"), url(../../../../../plugins/woocommerce/assets/fonts/star.ttf) format("truetype"), url(../../../../../plugins/woocommerce/assets/fonts/star.svg#star) format("svg");
	font-weight: 400;
	font-style: normal;
}

.woocommerce-active .site-header .col-full {
	position: relative;
}

.woocommerce-active .site-branding,
.woocommerce-active .site-logo-anchor {
	float: left;
}

.site-search {
	clear: both;
	font-size: 0.857em;
}

.site-search .widget_product_search input[type=search],
.site-search .widget_product_search input[type=text] {
	padding: 1.387em 1.618em 1.387em 3.631em;
	line-height: 1;
}

.site-search .widget_product_search form:before {
	top: 1.387em;
	left: 1.618em;
}

.site-search .widget_product_search #searchsubmit {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important;
}

.sidebar-shop .widget_product_search input[type=search] {
	margin-bottom: 20px;
}

.sidebar-shop .widget_product_search input[type=submit] {
	width: 100%;
}

ul.products {
	margin: 0;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 70px;
	padding-right: 0;
	padding-left: 0;
}

ul.products::before {
	display: table;
	content: " ";
}

ul.products::after {
	display: table;
	clear: both;
	content: "";
}

ul.products li.product {
	position: relative;
	margin-bottom: 4.236em;
	margin-left: 0;
	text-align: center;
	list-style: none;
}

ul.products li.product .price,
ul.products li.product .star-rating {
	margin: 0 auto 1em;
}

ul.products li.product .price {
	display: block;
	color: #60646c;
	font-weight: 400;
}

ul.products li.product .price ins {
	margin-left: 0.618em;
	background-color: transparent;
	font-weight: 700;
}

ul.products li.product h2,
ul.products li.product h3,
.wccm-td div {
	margin: 15px 0 5px;
	color: #111;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .star-rating {
	margin-bottom: 5px;
	font-size: 12px;
}

ul.products li.product img {
	display: block;
	margin: 0 auto 1.618em;
}

ul.products li.product.product-category img {
	margin-bottom: 1.618em;
}

ul.products li.product .button {
	margin-bottom: 0.236em;
}

.single-product div.product {
	overflow: hidden;
	position: relative;
}

.single-product div.product .product_meta .posted_in,
.single-product div.product .product_meta .sku_wrapper,
.single-product div.product .product_meta .tagged_as {
	display: block;
	padding: 0.3em 0;
	border-bottom: none;
}

.single-product div.product::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .images,
.single-product div.product .summary {
	margin-top: 0;
	margin-bottom: 2.618em;
}

.single-product div.product .images img {
	width: 100%;
}

.single-product div.product .images > img {
	margin-bottom: 1.618em;
}

.single-product div.product .images .woocommerce-main-image {
	display: block;
	margin-bottom: 1.618em;
}

.single-product .product_title {
	margin: 0 0 20px;
	color: #111;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.single-product div.product .images .thumbnails a.zoom.last {
	clear: right;
	margin-right: 0;
}

.single-product div.product .images .thumbnails a.zoom.first {
	clear: both;
	margin-left: 0;
}

.single-product div.product .images .thumbnails a.zoom {
	float: left;
	width: 15%;
	margin: 0 1% 12px;
}

.single-product div.product .images .thumbnails a.zoom img {
	width: 100%;
}

.single-product div.product .woocommerce-product-rating {
	margin-bottom: 0.618em;
	padding: 0 0 1.618em;
	line-height: 1;
}

.single-product div.product .woocommerce-product-rating::after {
	display: table;
	clear: both;
	content: "";
}

.product .product-button-wrap .product_type_simple,
ul.products li.product .product-button-wrap .button.product_type_simple,
.shop-item .product-button-wrap .product_type_simple {
	position: relative;
	bottom: 0;
	padding: 10px 30px;
	border-radius: 2px;
	opacity: 0;
	opacity: 1;
	color: #aaa;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product .product-button-wrap .product_type_simple:hover,
ul.products li.product .product-button-wrap .button.product_type_simple:hover,
.shop-item .product-button-wrap .product_type_simple:hover {
	background: rgba(17, 17, 17, 0.8);
}

.single-product div.product .woocommerce-product-rating a {
	font-size: 0.857em;
}

.single-product div.product .woocommerce-product-rating .star-rating {
	float: left;
}

.product_meta {
	float: left;
	width: 100%;
}

.single-product div.product .product_meta .posted_in:last-child,
.single-product div.product .product_meta .sku_wrapper:last-child,
.single-product div.product .product_meta .tagged_as:last-child {
	border-bottom: 0;
}

.single-product div.product p.stock:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
}

.single-product div.product p.stock.in-stock:before {
	content: "\f118";
}

.single-product div.product p.stock.out-of-stock:before {
	content: "\f119";
}

#reviews #comments {
	margin-top: 0;
	padding-top: 0;
}

#reviews .commentlist {
	float: left;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#reviews .commentlist li {
	clear: both;
	margin-bottom: 3.631em;
	list-style: none;
}

#reviews .commentlist li time {
	opacity: 0.8;
}

#reviews .commentlist li .avatar {
	float: left;
	width: 55px;
	height: auto;
	border-radius: 50%;
}

#reviews .commentlist li p.meta {
	margin-bottom: 1em;
}

#reviews .commentlist li .description {
	padding-bottom: 1.618em;
}

#reviews .commentlist li ul.children {
	float: right;
	width: 81.8181818182%;
	margin-right: 0;
	padding-top: 2.618em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce-breadcrumb {
	float: left;
	margin-bottom: 1.236em;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
}

.single-product .woocommerce-breadcrumb {
	float: none;
}

.woocommerce-breadcrumb a.home:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
	font-weight: 400;
	content: "\f015";
}

.product_list_widget {
	margin-left: 0;
	list-style: none;
}

.product_list_widget .amount {
	font-size: 12px;
	letter-spacing: 0;
}

.product_list_widget li {
	padding: 1em 0;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.product_list_widget li::after {
	display: table;
	clear: both;
	content: "";
}

.product_list_widget li img {
	float: right;
	max-width: 2.618em;
}

.product_list_widget li .quantity {
	display: block;
}

.product_list_widget a:hover {
	color: #96588a;
}

.widget_products a {
	display: block;
}
.widget_products ul.product_list_widget a {
	display: inline-block;
}

.widget_product_categories ul {
	margin: 0;
}

.widget_product_categories ul li {
	margin-bottom: 0.618em;
	list-style: none;
}

.widget_product_categories ul li.current-cat:before {
	content: "\f115";
}

.widget_product_categories .children {
	margin-top: 0.618em;
	margin-left: 1.618em;
}

.widget_layered_nav li {
	margin-bottom: 0.618em;
}

.widget_layered_nav li:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	opacity: 1;
	color: #666;
	content: "\00BB";
}

.widget_layered_nav .chosen:before {
	content: "\f14a";
}

.widget.woocommerce li .count {
	float: right;
	font-size: 1em;
}

.widget_price_filter .price_slider {
	margin-bottom: 1em;
}

.widget_price_filter .price_slider_amount {
	line-height: 2.4em;
	text-align: right;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	margin-top: -0.25em;
	border-radius: 1em;
	outline: 0;
	opacity: 1;
	background: #96588a;
	cursor: ew-resize;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active,
.widget_price_filter .ui-slider .ui-slider-handle:hover {
	-webkit-box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	display: block;
	position: absolute;
	z-index: 1;
	border: 0;
	border-radius: 1em;
	background: #96588a;
	font-size: 0.7em;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 1em;
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: 0.5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}

#customer_login .col-1 {
	margin-bottom: 1.618em;
	padding-bottom: 1.618em;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.star-rating {
	overflow: hidden;
	position: relative;
	width: 5.5em;
	height: 1em;
	margin-bottom: 10px;
	font-family: star;
	font-size: 1em;
	line-height: 1;
}

.star-rating:before {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0.2);
	content: "\73\73\73\73\73";
}

.star-rating span {
	float: left;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1.5em;
}

.star-rating span:before {
	position: absolute;
	top: 0;
	left: 0;
	color: #f1c40f;
	content: "\53\53\53\53\53";
}

.onsale {
	position: absolute;
	top: 3px;
	right: 17px;
	left: auto;
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	color: #fff;
	background-color: rgba(10, 10, 10, 0.9);
	line-height: 50px;
	text-align: center;
}

.onsale.out-of-stock {
	padding: 0 10px;
	background-color: #e03958;
}

.product-main-content .onsale {
	right: auto;
}

.product-main-content .onsale.out-of-stock {
	width: auto;
}

.tradiestandard-sorting {
	margin-bottom: 2.618em;
	font-size: 0.857em;
}

.woocommerce-tabs {
	padding: 1em 0;
}

.woocommerce-tabs ul.tabs {
	margin-left: 0;
	text-align: center;
	list-style: none;
}

.woocommerce-tabs ul.tabs li {
	display: inline-block;
	position: relative;
	margin-right: 1em;
}

.woocommerce-tabs ul.tabs li.active a {
	color: #555;
}

.woocommerce-error {
	list-style: none;
}

.page-title ~ .woocommerce-error,
.page-title ~ .woocommerce-info,
.page-title ~ .woocommerce-message {
	width: 1170px;
	margin: 10px auto;
}

.woocommerce-page-title ~ .woocommerce-error,
.woocommerce-page-title ~ .woocommerce-info,
.woocommerce-page-title ~ .woocommerce-message {
	width: 1110px;
	margin: 50px auto 20px;
}

.woocommerce-error ~ .module-small,
.woocommerce-info ~ .module-small,
.woocommerce-message ~ .module-small {
	padding-top: 10px;
}

.module-small-shop ul.products {
	padding-top: 50px;
}

.module-small-shop .woocommerce-breadcrumb {
	margin-bottom: 0;
}

.sidebar-shop {
	padding-top: 50px;
}

.woocommerce-noreviews,
p.no-comments {
	min-height: 20px;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	color: #666;
	background-color: #f5f5f5;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 0;
	padding: 15px;
	border-radius: 2px;
}

.woocommerce-info {
	border-color: #bce8f1;
	color: #31708f;
	background-color: #d9edf7;
}

.woocommerce-info a {
	color: #31708f;
	font-weight: bold;
}

.woocommerce-info a.button {
	float: right;
	border: none;
	color: #31708f;
	font-weight: bold;
}

.woocommerce-message {
	border-color: #d6e9c6;
	color: #3c763d;
	background-color: #dff0d8;
}

.woocommerce-message a {
	color: #3c763d;
	font-weight: bold;
}

.woocommerce-message a.button {
	float: right;
	border: none;
	color: #3c763d;
	font-weight: bold;
}

.woocommerce-error {
	border-color: #ebccd1;
	color: #a94442;
	background-color: #f2dede;
}

.woocommerce-error a {
	color: #a94442;
	font-weight: bold;
}

.woocommerce-error a:hover,
.woocommerce-message a:hover,
.woocommerce-info a:hover {
	opacity: 0.7;

	filter: alpha(opacity=70);
}

.woocommerce-error a.button {
	float: right;
	border: none;
	color: #a94442;
	font-weight: bold;
}

.woocommerce-error a.button:hover {
	opacity: 0.7;
}

.woocommerce-error a.wc-backward {
	padding-right: 20px;
	padding-left: 20px;
	color: #fff;
	background: #a94442;
}

.woocommerce-error::after,
.woocommerce-info::after,
.woocommerce-message::after,
.woocommerce-noreviews::after,
p.no-comments::after {
	display: table;
	clear: both;
	content: "";
}

.woocommerce-error pre,
.woocommerce-info pre,
.woocommerce-message pre,
.woocommerce-noreviews pre,
p.no-comments pre {
	background-color: rgba(0, 0, 0, 0.1);
}

.site-content > .col-full > .woocommerce > .woocommerce-error:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-info:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-message:first-child {
	margin-top: 2.618em;
}

dl.variation {
	font-size: 0.857em;
}

dl.variation dd {
	margin: 0 0 1em;
}

.tradiestandard-product-section {
	margin-bottom: 4.236em;
	border-bottom: 3px solid rgba(0, 0, 0, 0.025);
}

.tradiestandard-product-section .section-title {
	text-align: center;
}

.tradiestandard-product-section:last-child {
	border-bottom: 0;
}

p.stars {
	font-size: 1em;
}

p.stars a {
	display: inline-block;
}

p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4 {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

ul.products li.product {
	float: left;
	clear: none;
	width: 25%;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 0.857em;
}

.shop-with-sidebar ul.products li.product {
	width: 33.2%;
}

.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
	clear: left;
}

ul.products li.product.last {
	margin-right: 0;
}

ul.products li.product.first {
	clear: both;
}

.single-product ul.products li.product.first {
	clear: none;
}

.page-template-template-fullwidth-php .site-main .columns-1 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-1 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-1 ul.products li.product {
	float: none;
	width: 100%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .site-main .columns-2 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-2 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-2 ul.products li.product {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-3 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-3 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-3 ul.products li.product {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-4 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-4 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-4 ul.products li.product {
	float: left;
	width: 21.7391304348%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-5 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-5 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-5 ul.products li.product {
	width: 16.9%;
	margin-right: 3.8%;
}

.site-main .columns-1 ul.products li.product {
	float: none;
	width: 100%;
	margin-right: 0;
}

.site-main .columns-2 ul.products li.product {
	width: 48%;
	margin-right: 3.8%;
}

.site-main .columns-3 ul.products li.product {
	float: left;
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
}

.site-main .columns-4 ul.products li.product {
	width: 22.05%;
	margin-right: 3.8%;
}

.site-main .columns-5 ul.products li.product {
	width: 16.9%;
	margin-right: 3.8%;
}

.site-main ul.products li.product {
	float: left;
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
}

.single-product div.product .images {
	float: right;
	position: relative;
	width: 30%;
	margin-right: 5.8823529412%;
	margin-bottom: 3.631em;
}

.single-product div.product .images .thumbnails::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .summary {
	float: left;
	width: 70%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.single-product div.product .woocommerce-tabs {
	clear: both;
}

#reviews .comment-form-author,
#reviews .comment-form-email {
	width: 50%;
	padding: 0 15px;
}

#reviews .comment-form-email {
	margin-right: 0;
	padding-right: 0;
}

.tradiestandard-full-width-content.single-product div.product .images {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
	margin-bottom: 3.631em;
}

.tradiestandard-full-width-content.single-product div.product .images .thumbnails a.zoom {
	float: left;
	width: 14.2857142857%;
	margin-right: 14.2857142857%;
}

.tradiestandard-full-width-content.single-product div.product .images .thumbnails a.zoom.last {
	margin-right: 0;
}

.tradiestandard-full-width-content.single-product div.product .summary {
	float: right;
	width: 65.2173913043%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.tradiestandard-full-width-content.single-product div.product .woocommerce-tabs {
	clear: both;
}

.tradiestandard-full-width-content.single-product .related ul.products li.product {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.woocommerce .page-description {
	float: left;
	width: 100%;
	margin-bottom: 1.618em;
	padding: 0 15px 15px;
}

.tradiestandard-sorting {
	margin-bottom: 2.618em;
}

.tradiestandard-sorting::after {
	display: table;
	clear: both;
	content: "";
}

.tradiestandard-sorting select {
	width: 9.505em;
}

.woocommerce-result-count {
	float: left;
	position: relative;
	margin-bottom: 0;
	padding: 0.327em 0;
}

.woocommerce-ordering {
	float: right;
	margin-right: 1em;
	margin-bottom: 0;
	padding-right: 15px;
	padding-left: 15px;
}

.woocommerce-ordering select {
	height: 33px;
	padding-left: 10px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 2px;
}

.woocommerce-pagination {
	clear: none;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}

.woocommerce-pagination .page-numbers.current {
	display: inline-block;
	border-color: #cacaca;
}

.woocommerce-pagination ul.page-numbers {
	margin-left: 0;
	padding-left: 0;
}

.col2-set {
	float: left;
	width: 52.9411764706%;
	margin-right: 5.8823529412%;
}

.col2-set .form-row-first {
	float: left;
	width: 33.3333333333%;
	margin-right: 11.1111111111%;
}

.col2-set .form-row-last {
	float: right;
	width: 55.5555555556%;
	margin-right: 0;
}

.col2-set .col-1,
.col2-set .col-2 {
	margin-bottom: 1.618em;
}

.col2-set + #customer_details {
	display: none;
}

.page-template-template-fullwidth-php .col2-set {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .col2-set .form-row-first {
	width: 45.4545454545%;
	margin-right: 9.0909090909%;
}

.page-template-template-fullwidth-php .col2-set .form-row-last {
	float: right;
	width: 45.4545454545%;
	margin-right: 0;
}

.form-row-first {
	float: left;
	clear: both;
	width: 47.0588235294%;
	margin-right: 5.8823529412%;
}

.form-row-last {
	float: right;
	width: 47.0588235294%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .form-row-first {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .form-row-last {
	float: right;
	width: 47.8260869565%;
	margin-right: 0;
}

.tradiestandard-full-width-content .woocommerce-tabs ul.tabs {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.tradiestandard-full-width-content .woocommerce-tabs .panel {
	float: right;
	width: 65.2173913043%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.woocommerce-tabs {
	margin-bottom: 2.618em;
	padding-top: 2.618em;
	padding-bottom: 2.618em;
}

.woocommerce-tabs::after {
	display: table;
	clear: both;
	content: "";
}

.woocommerce-tabs ul.tabs {
	float: left;
	width: 100%;
	padding-left: 0;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	float: left;
	margin: 0;
	margin-bottom: -1px;
}

.woocommerce-tabs ul.tabs li a {
	display: block;
	padding: 10px 15px;
}

.woocommerce-tabs ul.tabs li.active {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #555;
	background-color: #fff;
	cursor: default;
}

.woocommerce-tabs .panel {
	float: left;
	width: 100%;
	margin-top: 0;
}

.related.products {
	padding: 70px 0 0 0;
}

.related.products .amount {
	font: 400 12px/1.8 "Open Sans", sans-serif;
}

.related.products h2 {
	position: relative;
	color: #111;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
}

#review_form_wrapper {
	clear: both;
}

#reviews #comments .comment-text {
	float: left;
	margin-left: 20px;
}

#reviews #comments p.meta strong {
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#reviews form input {
	float: left;
	width: 100%;
	height: 33px;
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 2px;
}

#reviews form p {
	float: left;
	margin: 0;
}

#reviews p.comment-form-comment,
#reviews p.comment-form-comment textarea {
	width: 100%;
	padding-left: 15px;
}

#reviews p.comment-form-comment textarea {
	margin-bottom: 15px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 2px;
}

#review_form_wrapper form {
	float: left;
	margin-top: 25px;
	margin-left: -15px;
}

p.comment-form-rating {
	width: 33.33%;
	padding-right: 15px;
	padding-left: 15px;
}

#reviews form input[type="submit"] {
	margin-left: 15px;
	padding: 8px 37px;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
}

#reviews form input[type="submit"]:hover {
	background: rgba(17, 17, 17, 1);
}

.wc-backward {
	padding: 8px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.wc-backward:hover {
	color: #fff;
	background: rgba(17, 17, 17, 1);
}

ul.products li.product {
	overflow: hidden;
}

ul.products li.product:nth-child(4n+1) {
	clear: left;
}

.shop-with-sidebar ul.products li.product:nth-child(4n+1) {
	clear: none;
}

.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
	clear: left;
}

h1.page-title {
	margin-top: 0;
}

.container-wooinfo {
	padding-right: 0;
	padding-left: 0;
}

.tradiestandard_hidden_if_not_customizer {
	display: none !important;
}

body.home .navbar-color-customizer {
	background-color: rgba(10, 10, 10, 0.9) !important;
}

.shop-item-detail {
	padding: 0;
}


.shop-item-detail del,
.shop-item-detail ins {
	display: none;
}

/* rating stars */
p.stars {
	position: relative;
	width: 100px;
	height: 20px;
}

p.stars span {
	float: left;
	overflow: hidden;
	width: 100px;
	height: 20px;
	line-height: 20px;
}

p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4,
p.stars a.star-5 {
	float: left;
	position: relative;
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	color: transparent;
}

p.stars span:before,
p.stars a.star-1:hover:before,
p.stars a.star-2:hover:before,
p.stars a.star-3:hover:before,
p.stars a.star-4:hover:before,
p.stars a.star-5:hover:before {
	color: #ccc;
	font-family: star;
	font-size: 16px;
	text-align: left;
	letter-spacing: 2px;
}

p.stars:hover a.star-1.active:before,
p.stars:hover a.star-2.active:before,
p.stars:hover a.star-3.active:before,
p.stars:hover a.star-4.active:before,
p.stars:hover a.star-5.active:before {
	color: transparent;
}

p.stars a.star-1.active:hover:before,
p.stars a.star-2.active:hover:before,
p.stars a.star-3.active:hover:before,
p.stars a.star-4.active:hover:before,
p.stars a.star-5.active:hover:before {
	color: #f1c40f;
}

p.stars span:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	content: "\53\53\53\53\53";
}

p.stars a.star-1 {
	z-index: 10;
	width: 18px;
}

p.stars a.star-2 {
	z-index: 8;
	width: 36px;
	margin-left: -18px;
}

p.stars a.star-3 {
	z-index: 6;
	width: 54px;
	margin-left: -36px;
}

p.stars a.star-4 {
	z-index: 4;
	width: 72px;
	margin-left: -54px;
}

p.stars a.star-5 {
	z-index: 2;
	width: 90px;
	margin-left: -72px;
}

p.stars a.star-1:hover:before,
p.stars a.star-2:hover:before,
p.stars a.star-3:hover:before,
p.stars a.star-4:hover:before,
p.stars a.star-5:hover:before,
p.stars a.star-1.active:before,
p.stars a.star-2.active:before,
p.stars a.star-3.active:before,
p.stars a.star-4.active:before,
p.stars a.star-5.active:before {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	height: 20px;
	color: #f1c40f;
	font-family: star;
	font-size: 16px;
	letter-spacing: 2px;
}

p.stars a.star-1:hover:before,
p.stars a.star-1.active:before {
	z-index: 9;
	width: 18px;
	content: "\53";
}

p.stars a.star-2:hover:before,
p.stars a.star-2.active:before {
	z-index: 7;
	width: 36px;
	content: "\53\53";
}

p.stars a.star-3:hover:before,
p.stars a.star-3.active:before {
	z-index: 5;
	width: 54px;
	content: "\53\53\53";
}

p.stars a.star-4:hover:before,
p.stars a.star-4.active:before {
	z-index: 3;
	width: 72px;
	content: "\53\53\53\53";
}

p.stars a.star-5:hover:before,
p.stars a.star-5.active:before {
	z-index: 1;
	width: 90px;
	content: "\53\53\53\53\53";
}

p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
	display: none;
	content: "";
}

a.remove {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border: 0;
	border-radius: 100%;
	color: rgb(249, 98, 98);
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
}

a.remove:hover {
	color: #fff;
	background: rgb(249, 98, 98);
}

/****
Search form Header
****/
.header-search {
	float: right;
	position: relative;
	width: 25px;
	height: 25px;
	text-align: center;
}

.header-search-button {
	color: #aaa;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.header-search-input {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 220px;
	padding: 5px;
	background: rgba(26, 26, 26, 0.9);
}

.header-search.header-search-open .header-search-input {
	display: block;
}

.header-search-input input[type=submit] {
	position: absolute;
	z-index: 9;
	top: 5px;
	right: 5px;
	width: 28px;
	height: 33px;
	border: none;
	background: none;
	text-indent: -9999999px;
}

.header-search-input input[type="search"] {
	width: 100%;
	padding: 10px;
	padding-right: 28px;
	border: none;
	border-radius: 0;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
}

.header-search-input:after {
	display: inline-block;
	position: absolute;
	z-index: 8;
	top: 5px;
	right: 5px;
	width: 20px;
	width: 33px;
	color: #999;
	font-family: "Glyphicons Halflings";
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	line-height: 33px;
	content: "\e003";
}

/****
Single product page
****/
.woocommerce.single-product .price ins {
	float: left;
	width: 100%;
}

.woocommerce.single-product .price ins .amount {
	float: left;
	width: 100%;
	color: #666;
	line-height: 36px;
	text-decoration: none;
}

.woocommerce.single-product .product-type-variable .price ins {
	font-size: 32px;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce.single-product .product-type-variable .price ins .amount {
	float: none;
	width: auto;
}

.woocommerce.single-product .product-type-grouped .label {
	display: table-cell;
	padding: 0;
	font-size: 75%;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	vertical-align: middle;
	white-space: inherit;
}

.woocommerce.single-product .price del {
	float: left;
	width: 100%;
}

.woocommerce.single-product .price del .amount {
	font-size: 20px;
	line-height: 24px;
}

.woocommerce.single-product .stock {
	float: left;
	width: 100%;
}

.woocommerce.single-product div[itemprop="offers"] {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.woocommerce.single-product div[itemprop="description"] {
	float: left;
	width: 100%;
}

.woocommerce.single-product div.product .woocommerce-product-rating {
	margin-bottom: 0;
	padding: 0 0 20px;
}

.product-main-content .onsale {
	z-index: 10;
	right: auto;
	left: 3px;
}

.woocommerce .comment_container {
	float: left;
	position: relative;
}

.woocommerce .form-row input[type="submit"] {
	width: auto;
	padding: 8px 37px;
	border: none;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce .form-row input[type="submit"]:hover {
	background: rgba(17, 17, 17, 0.8);
}

#reviews .commentlist li .avatar {
	position: absolute;
	top: 0;
	left: 0;
}

#reviews #comments .comment-text {
	float: left;
	margin-left: 70px;
}

#reviews #comments .comment-text {
	position: relative;
	padding-top: 18px;
}

#reviews #comments .comment-text .star-rating {
	position: absolute;
	bottom: 0;
	left: 0;
}

#reviews .commentlist li {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	list-style: none;
}

#review_form_wrapper form {
	width: 100%;
	margin-left: 0;
}

#reviews .comment-form-rating {
	min-height: 33px;
	padding-bottom: 15px;
	padding-left: 0;
}

#reviews p.comment-form-comment,
#reviews p.comment-form-comment textarea {
	padding-left: 0;
}

#reviews p.comment-form-comment textarea {
	height: 75px;
	padding: 6px 12px;
}

#reviews form input[type="submit"] {
	margin-left: 0;
	line-height: 15px;
}

#reviews .comment-form-author {
	padding-left: 0;
}

#reviews form .form-submit {
	clear: left;
}

.woocommerce-tabs ul.tabs li,
.woocommerce-tabs ul.tabs li.active {
	border: none;
	background: none;
}

.woocommerce-tabs ul.tabs li a {
	display: block;
	position: relative;
	margin-right: 2px;
	padding: 10px 15px;
	border: 1px solid #fff;
	border-bottom-color: transparent;
	border-radius: 2px;
	border-radius: 4px 4px 0 0;
	color: #555;
	line-height: 1.42857143;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce-tabs ul.tabs li.active a {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background-color: #fff;
	cursor: pointer;
}

.woocommerce-tabs ul.tabs li a:hover {
	border-color: #eee #eee #ddd;
	background-color: #eee;
	text-decoration: none;
}

.woocommerce-tabs ul.tabs li.active a:hover {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background: #fff;
	cursor: default;
}

.single-product div.product .images {
	width: 30%;
	margin-right: 0;
	padding: 0 15px 0 0;
}

.single-product figure.woocommerce-product-gallery__wrapper {
	max-width: inherit;
	margin-bottom: 20px;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li {
	display: inline-block;
	margin: 2px 11px 10px 0;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n) {
	margin-right: 0;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n+1),
.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
	margin-left: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	width: auto;
	cursor: pointer;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:after {
	display: block;
	position: absolute;
	top: 19px;
	left: 22px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 2px;
	height: 8px;
	border-radius: 6px;
	background: #000;
	content: "";
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
	display: block;
	position: absolute;
	top: 9px;
	left: 9px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 100%;
	content: "";
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	z-index: 9;
	top: 15px;
	right: 30px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background: #fff;
	font-size: 2em;
	text-indent: -9999px;
}

.single-product div.product .summary {
	width: 70%;
	padding: 0 0 0 15px;
}

.single-product div.product .woocommerce-product-rating a {
	padding-left: 5px;
	font-size: 12px;
}

.single-product div.product p.stock.in-stock:before,
.single-product div.product p.stock.out-of-stock:before {
	display: none;
}

.woocommerce-tabs .panel h2 {
	margin: 0 0 20px;
	padding-top: 30px;
	padding-bottom: 15px;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce.single-product ul.products {
	margin-bottom: 0;
	padding-bottom: 0;
}

.woocommerce.single-product .related.products {
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 70px;
}

/* you may also like */
.woocommerce.single-product ul.products li.product img {
	width: 100%;
}

.woocommerce.single-product .price del {
	color: #999;
}

.woocommerce.single-product .price del .amount {
	color: #999;
}

.woocommerce.single-product ul.products li.product .price del {
	color: #999;
}

.woocommerce.single-product .owl-carousel .ex-product .woocommerce-Price-amount,
.woocommerce.single-product ul.products li.product .price del .amount {
	color: #999;
	font-size: 12px;
}

.single-product .owl-carousel .ex-product ins {
	text-decoration: none;
}

.woocommerce.single-product ul.products li.product .price ins .amount {
	line-height: 20px;
}

.woocommerce.single-product ul.products li.product .price ins {
	margin-left: 0;
}

.form-row #rememberme {
	vertical-align: -12px;
}

.form-row label {
	font-weight: normal;
}

.shop-with-sidebar {
	float: right;
	padding: 0;
}

/****
product list
****/
.woocommerce ul.products {
	float: left;
	min-width: 100%;
}

.woocommerce ul.products li.product .price del {
	float: left;
	width: 100%;
	color: #999;
	font-size: 12px;
}

.woocommerce ul.products li.product .price del .amount {
	color: #999;
	font: 400 12px/1.8 "Open Sans", sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce ul.products li.product .price ins {
	float: left;
	width: 100%;
	margin: 0;
	color: #999;
	font-size: 12px;
	text-decoration: none;
	text-decoration: none;
}

.woocommerce ul.products li.product .price ins .amount,
.woocommerce ul.products li.product .price .amount {
	color: #999;
	font: 400 12px/1.8 "Open Sans", sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .button.product_type_simple {
	padding: 5px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .button.product_type_simple:hover,
ul.products li.product .button.product_type_simple:focus {
	background: rgba(17, 17, 17, 0.8);
}

.product-rating-home .star-rating {
	display: inline-block;
	float: none;
	margin-bottom: 0;
}

ul.products li.product .product-button-wrap .button,
.product-button-wrap .button {
	display: inline-block;
	margin: 10px 5px 0;
	padding: 0 10px;
}

/****
Breacrumb
****/
.woocommerce-breadcrumb {
	line-height: 33px;
	margin-bottom: 10px;
}

.woocommerce-ordering {
	margin-right: 0;
}

.woocommerce-pagination {
	float: left;
	width: auto;
	margin-top: -5px;
	text-align: left;
}

.page-numbers {
	text-align: left;
}

/* woocommerce sidebar */
.widget_price_filter .ui-slider .ui-slider-handle {
	background: #212121;
}

.widget_price_filter .ui-slider .ui-slider-range {
	background: #e5e5e5;
}

.widget_price_filter .price_slider_amount .button {
	padding: 10px 30px;
	line-height: 13px;
}

.price_label {
	line-height: 33px;
}

.sidebar-shop .widget.widget_products ul li:before,
.sidebar-shop .widget.widget_recent_reviews ul li:before,
.sidebar-shop .widget.widget_recently_viewed_products ul li:before,
.sidebar-shop .widget.widget_top_rated_products ul li:before,
.sidebar-shop .widget.widget_product_categories  ul li:before,
.sidebar-shop .widget.widget_layered_nav .chosen:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	color: #666;
	content: "\00BB";
}

.product_list_widget .amount,
.product_list_widget del,
.product_list_widget ins {
	color: #999;
}

.product_list_widget ins {
	text-decoration: none;
}

.product_list_widget .amount {
	margin-right: 10px;
}

.widget.woocommerce li {
	position: relative;
	/*padding-left: 12px;*/
}

.widget.woocommerce a:hover .product-title,
.widget.woocommerce a:hover {
	color: #aaa;
}

.widget.woocommerce.widget_rating_filter .star-rating {
	position: absolute;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
}

.widget.woocommerce.widget_rating_filter .star-rating:before {
	float: right;
}

.widget_recently_viewed_products li a,
.widget_top_rated_products li a {
	display: block;
}

.bottom-page-wrap {
	position: relative;
	z-index: 19;
}

.bottom-page-wrap .widget_price_filter .ui-slider .ui-slider-handle {
	background: #fff;
}

.bottom-page-wrap .widget ul li {
	position: relative;
}

.bottom-page-wrap .widget.woocommerce ul li:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	color: #777;
	content: "\00BB";
}

.bottom-page-wrap .widget.woocommerce ul li:before {
	color: #777;
	content: "\00BB";
}

.bottom-page-wrap .widget .tagcloud a {
	background: rgba(255, 255, 255, 0.2);
}

.bottom-page-wrap .product-title,
.bottom-page-wrap .widget.woocommerce a {
	color: #aaa;
}

.bottom-page-wrap .widget_product_categories a .product-title:hover,
.bottom-page-wrap .widget.woocommerce a:hover {
	text-decoration: underline;
}

/****************************************/
/** WooCommerce Compare List plugin *****/
/****************************************/

a.button.compare,
.tradiestandard-compare-list-wrapper a.button.alt {
	position: relative;
	bottom: 0;
	border-radius: 2px;
	opacity: 1;
	color: #fff;
	background: #0b5b34;
	font-size: 10px;
	line-height: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

a.button.compare:hover {
	background: rgba(11, 91, 52, 0.8);
}

.tradiestandard-compare-list-wrapper {
	margin-top: 20px;
	margin-bottom: -40px;
}

.tradiestandard-compare-list-wrapper a.button.alt {
	margin-left: 10px;
}

.wccm-catalog-items {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}

.wccm-catalog-item {
	margin-bottom: 12px;
}

.wccm-catalog-item a.button {
	float: left;
	height: auto;
	margin-top: 12px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,1);
	border-radius: 2px;
	opacity: 1;
	color: rgba(17,17,17,1);
	background: transparent;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.wccm-catalog-item a.button:hover {
	border: 1px solid rgba(17,17,17,0.3);
	color: rgba(17,17,17,0.6);
}

.wccm-catalog-item a.button.alt,
.tradiestandard-compare-list-wrapper a.button.alt {
	border: 1px solid rgba(17,17,17,0.3);
	color: #999;
}

.wccm-catalog-item a.button.alt:hover,
.tradiestandard-compare-list-wrapper a.button.alt:hover {
	border: 1px solid rgba(17,17,17,0.15);
	color: rgba(153, 153, 153, 0.75);
}

.wccm-frontpage-compare-list .wccm-catalog-item {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 1em;
}

.wccm-frontpage-compare-list .wccm-catalog-item img {
	width: 48px;
	height: 48px;
}

.wccm-frontpage-compare-list .wccm-catalog-item a.dashicons,
.wccm-catalog-item a.dashicons {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	border-radius: 1px;
	color: #1b1b1b;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.wccm-catalog-item a.dashicons:hover {
	color: #fff;
	background: #a94442;
}

.wccm-thumb a {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	padding-left: 1px;
	border-radius: 1px;
	color: #1b1b1b;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.wccm-thumb a:hover {
	color: #fff;
	background: #a94442;
}

.wccm-thumb {
	width: 150px;
	height: 150px;
	background: rgba(221,221,221,0.35);
}

.product_meta a.button.compare,
.tradiestandard-compare-list-wrapper a.button.alt {
	float: left;
	height: auto;
	margin-top: 12px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,0.3);
	border-radius: 2px;
	opacity: 1;
	color: #999;
	background: transparent;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product_meta a.button.compare:hover,
.tradiestandard-compare-list-wrapper a.button.alt:hover {
	border: 1px solid rgba(17,17,17,0.15);
	color: rgba(153, 153, 153, 0.75);
}

.term-description {
	width: 1170px;
	max-width: 100%;
	margin: 70px auto 30px;
	padding: 0 30px;
}

@media screen and (max-width: 1200px) {
	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 970px;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 910px;
	}

	.term-description {
		width: 970px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 10px 10px 0;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n) {
		margin-right: 0;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n) {
		margin-right: 10px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n+1),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 992px) {
	/* single product page */
	#reviews .comment-form-author {
		width: 50%;
	}

	#reviews .comment-form-email {
		width: 50%;
		padding-right: 15px;
	}

	#reviews form p.comment-form-rating {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

/*+*/
	.woocommerce.single-product ul.products li.product {
		width: 50%;
	}

	.woocommerce.single-product ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

	.woocommerce.single-product ul.products li.product.first {
		clear: none !important;
	}

	.woocommerce.single-product ul.products li.product:nth-child(3n+1) {
		clear: none;
	}

	.woocommerce.single-product ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

/* product list */
	.woocommerce ul.products li.product {
		float: left;
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
		clear: none;
	}

	.woocommerce ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

	.woocommerce-ordering,
	.woocommerce-ordering select {
		width: 100%;
		margin-right: 0;
	}

	.woocommerce-breadcrumb {
		width: 100%;
		margin-bottom: 20px;
		line-height: 33px;
		text-align: center;
	}

	.page-numbers {
		text-align: center;
	}

	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 750px;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 690px;
		margin-top: 40px;
	}

	.module-small-shop .woocommerce-breadcrumb {
		margin-bottom: 1.236em;
	}

	.term-description {
		width: 750px;
	}

	.woocommerce-pagination {
		float: none;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 4px 10px 0 !important;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n) {
		margin-right: 0 !important;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n) {
		margin-right: 4px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n+1),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {

	.header-search {
		position: initial;
	}

	.header-search-input {
		width: 100%;
	}

	.tradiestandard_header_title {
		margin-left: 0;
	}

/* single product page */
	.woocommerce-tabs ul.tabs {
		border-bottom: 1px solid #ddd;
	}

	.woocommerce-tabs ul.tabs li.active a {
		border: 1px solid #ddd;
		border-bottom-color: transparent;
		background-color: #fff;
		cursor: pointer;
	}

	.woocommerce-tabs ul.tabs li a:hover {
		border-bottom-color: #eee;
	}

	.woocommerce-tabs ul.tabs li {
		margin-bottom: -1px;
	}

	.single-product div.product .images img {
		width: 100%;
	}

	.single-product div.product .images,
	.single-product div.product .summary {
		float: left;
	}

	.single-product div.product .images,
	.single-product div.product .summary {
		width: 100%;
		padding: 0;
	}

	#reviews .comment-form-author,
	#reviews .comment-form-email {
		width: 100%;
		padding: 0;
	}

	p.comment-form-rating {
		width: 100%;
		padding: 0;
	}

	.comment-form-rating {
		margin-bottom: 20px;
	}

	p.stars {
		padding: 0;
		text-align: left;
	}

	p.stars a {
		display: inline-block;
		font-size: 12px;
	}

/*+*/
	.woocommerce.single-product ul.products li.product {
		width: 100%;
	}

/* product list */
	.woocommerce ul.products li.product {
		width: 100%;
	}

/* cart */
	.col2-set {
		width: 100%;
	}

	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 100%;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 90%;
	}

	.shop-item-image,
	.woocommerce ul.products li.product {
		float: none;
		max-width: 370px;
		margin: 25px auto;
	}

	.shop-with-sidebar {
		float: none !important;
	}

	.woocommerce .page-description,
	.woocommerce-breadcrumb {
		float: initial;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 4px 10px 0 !important;
	}
}


@media(max-width: 600px) {

	.woocommerce-page .woocommerce .product-name a {
		float: left;
		font-size: 10px;
		line-height: 13px;
	}

	.woocommerce-pagination {
		width: 100%;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs {
		text-align: center;
	}
}

/*woocommerce override*/
.single-product .woocommerce-product-gallery .flex-control-thumbs li {
    width: 29.9%;
=======
@font-face {
	font-family: star;
	src: url(../../../../../plugins/woocommerce/assets/fonts/star.eot);
	src: url(../../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix) format("embedded-opentype"), url(../../../../../plugins/woocommerce/assets/fonts/star.woff) format("woff"), url(../../../../../plugins/woocommerce/assets/fonts/star.ttf) format("truetype"), url(../../../../../plugins/woocommerce/assets/fonts/star.svg#star) format("svg");
	font-weight: 400;
	font-style: normal;
}

.woocommerce-active .site-header .col-full {
	position: relative;
}

.woocommerce-active .site-branding,
.woocommerce-active .site-logo-anchor {
	float: left;
}

.site-search {
	clear: both;
	font-size: 0.857em;
}

.site-search .widget_product_search input[type=search],
.site-search .widget_product_search input[type=text] {
	padding: 1.387em 1.618em 1.387em 3.631em;
	line-height: 1;
}

.site-search .widget_product_search form:before {
	top: 1.387em;
	left: 1.618em;
}

.site-search .widget_product_search #searchsubmit {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important;
}

.sidebar-shop .widget_product_search input[type=search] {
	margin-bottom: 20px;
}

.sidebar-shop .widget_product_search input[type=submit] {
	width: 100%;
}

ul.products {
	margin: 0;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 70px;
	padding-right: 0;
	padding-left: 0;
}

ul.products::before {
	display: table;
	content: " ";
}

ul.products::after {
	display: table;
	clear: both;
	content: "";
}

ul.products li.product {
	position: relative;
	margin-bottom: 4.236em;
	margin-left: 0;
	text-align: center;
	list-style: none;
}

ul.products li.product .price,
ul.products li.product .star-rating {
	margin: 0 auto 1em;
}

ul.products li.product .price {
	display: block;
	color: #60646c;
	font-weight: 400;
}

ul.products li.product .price ins {
	margin-left: 0.618em;
	background-color: transparent;
	font-weight: 700;
}

ul.products li.product h2,
ul.products li.product h3,
.wccm-td div {
	margin: 15px 0 5px;
	color: #111;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .star-rating {
	margin-bottom: 5px;
	font-size: 12px;
}

ul.products li.product img {
	display: block;
	margin: 0 auto 1.618em;
}

ul.products li.product.product-category img {
	margin-bottom: 1.618em;
}

ul.products li.product .button {
	margin-bottom: 0.236em;
}

.single-product div.product {
	overflow: hidden;
	position: relative;
}

.single-product div.product .product_meta .posted_in,
.single-product div.product .product_meta .sku_wrapper,
.single-product div.product .product_meta .tagged_as {
	display: block;
	padding: 0.3em 0;
	border-bottom: none;
}

.single-product div.product::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .images,
.single-product div.product .summary {
	margin-top: 0;
	margin-bottom: 2.618em;
}

.single-product div.product .images img {
	width: 100%;
}

.single-product div.product .images > img {
	margin-bottom: 1.618em;
}

.single-product div.product .images .woocommerce-main-image {
	display: block;
	margin-bottom: 1.618em;
}

.single-product .product_title {
	margin: 0 0 20px;
	color: #111;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.single-product div.product .images .thumbnails a.zoom.last {
	clear: right;
	margin-right: 0;
}

.single-product div.product .images .thumbnails a.zoom.first {
	clear: both;
	margin-left: 0;
}

.single-product div.product .images .thumbnails a.zoom {
	float: left;
	width: 15%;
	margin: 0 1% 12px;
}

.single-product div.product .images .thumbnails a.zoom img {
	width: 100%;
}

.single-product div.product .woocommerce-product-rating {
	margin-bottom: 0.618em;
	padding: 0 0 1.618em;
	line-height: 1;
}

.single-product div.product .woocommerce-product-rating::after {
	display: table;
	clear: both;
	content: "";
}

.product .product-button-wrap .product_type_simple,
ul.products li.product .product-button-wrap .button.product_type_simple,
.shop-item .product-button-wrap .product_type_simple {
	position: relative;
	bottom: 0;
	padding: 10px 30px;
	border-radius: 2px;
	opacity: 0;
	opacity: 1;
	color: #aaa;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product .product-button-wrap .product_type_simple:hover,
ul.products li.product .product-button-wrap .button.product_type_simple:hover,
.shop-item .product-button-wrap .product_type_simple:hover {
	background: rgba(17, 17, 17, 0.8);
}

.single-product div.product .woocommerce-product-rating a {
	font-size: 0.857em;
}

.single-product div.product .woocommerce-product-rating .star-rating {
	float: left;
}

.product_meta {
	float: left;
	width: 100%;
}

.single-product div.product .product_meta .posted_in:last-child,
.single-product div.product .product_meta .sku_wrapper:last-child,
.single-product div.product .product_meta .tagged_as:last-child {
	border-bottom: 0;
}

.single-product div.product p.stock:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
}

.single-product div.product p.stock.in-stock:before {
	content: "\f118";
}

.single-product div.product p.stock.out-of-stock:before {
	content: "\f119";
}

#reviews #comments {
	margin-top: 0;
	padding-top: 0;
}

#reviews .commentlist {
	float: left;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#reviews .commentlist li {
	clear: both;
	margin-bottom: 3.631em;
	list-style: none;
}

#reviews .commentlist li time {
	opacity: 0.8;
}

#reviews .commentlist li .avatar {
	float: left;
	width: 55px;
	height: auto;
	border-radius: 50%;
}

#reviews .commentlist li p.meta {
	margin-bottom: 1em;
}

#reviews .commentlist li .description {
	padding-bottom: 1.618em;
}

#reviews .commentlist li ul.children {
	float: right;
	width: 81.8181818182%;
	margin-right: 0;
	padding-top: 2.618em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce-breadcrumb {
	float: left;
	margin-bottom: 1.236em;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 14px;
}

.single-product .woocommerce-breadcrumb {
	float: none;
}

.woocommerce-breadcrumb a.home:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
	font-weight: 400;
	content: "\f015";
}

.product_list_widget {
	margin-left: 0;
	list-style: none;
}

.product_list_widget .amount {
	font-size: 12px;
	letter-spacing: 0;
}

.product_list_widget li {
	padding: 1em 0;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.product_list_widget li::after {
	display: table;
	clear: both;
	content: "";
}

.product_list_widget li img {
	float: right;
	max-width: 2.618em;
}

.product_list_widget li .quantity {
	display: block;
}

.product_list_widget a:hover {
	color: #96588a;
}

.widget_products a {
	display: block;
}
.widget_products ul.product_list_widget a {
	display: inline-block;
}

.widget_product_categories ul {
	margin: 0;
}

.widget_product_categories ul li {
	margin-bottom: 0.618em;
	list-style: none;
}

.widget_product_categories ul li.current-cat:before {
	content: "\f115";
}

.widget_product_categories .children {
	margin-top: 0.618em;
	margin-left: 1.618em;
}

.widget_layered_nav li {
	margin-bottom: 0.618em;
}

.widget_layered_nav li:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	opacity: 1;
	color: #666;
	content: "\00BB";
}

.widget_layered_nav .chosen:before {
	content: "\f14a";
}

.widget.woocommerce li .count {
	float: right;
	font-size: 1em;
}

.widget_price_filter .price_slider {
	margin-bottom: 1em;
}

.widget_price_filter .price_slider_amount {
	line-height: 2.4em;
	text-align: right;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	margin-top: -0.25em;
	border-radius: 1em;
	outline: 0;
	opacity: 1;
	background: #96588a;
	cursor: ew-resize;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active,
.widget_price_filter .ui-slider .ui-slider-handle:hover {
	-webkit-box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	display: block;
	position: absolute;
	z-index: 1;
	border: 0;
	border-radius: 1em;
	background: #96588a;
	font-size: 0.7em;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 1em;
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: 0.5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}

#customer_login .col-1 {
	margin-bottom: 1.618em;
	padding-bottom: 1.618em;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.star-rating {
	overflow: hidden;
	position: relative;
	width: 5.5em;
	height: 1em;
	margin-bottom: 10px;
	font-family: star;
	font-size: 1em;
	line-height: 1;
}

.star-rating:before {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0.2);
	content: "\73\73\73\73\73";
}

.star-rating span {
	float: left;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1.5em;
}

.star-rating span:before {
	position: absolute;
	top: 0;
	left: 0;
	color: #f1c40f;
	content: "\53\53\53\53\53";
}

.onsale {
	position: absolute;
	top: 3px;
	right: 17px;
	left: auto;
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	color: #fff;
	background-color: rgba(10, 10, 10, 0.9);
	line-height: 50px;
	text-align: center;
}

.onsale.out-of-stock {
	padding: 0 10px;
	background-color: #e03958;
}

.product-main-content .onsale {
	right: auto;
}

.product-main-content .onsale.out-of-stock {
	width: auto;
}

.tradiestandard-sorting {
	margin-bottom: 2.618em;
	font-size: 0.857em;
}

.woocommerce-tabs {
	padding: 1em 0;
}

.woocommerce-tabs ul.tabs {
	margin-left: 0;
	text-align: center;
	list-style: none;
}

.woocommerce-tabs ul.tabs li {
	display: inline-block;
	position: relative;
	margin-right: 1em;
}

.woocommerce-tabs ul.tabs li.active a {
	color: #555;
}

.woocommerce-error {
	list-style: none;
}

.page-title ~ .woocommerce-error,
.page-title ~ .woocommerce-info,
.page-title ~ .woocommerce-message {
	width: 1170px;
	margin: 10px auto;
}

.woocommerce-page-title ~ .woocommerce-error,
.woocommerce-page-title ~ .woocommerce-info,
.woocommerce-page-title ~ .woocommerce-message {
	width: 1110px;
	margin: 50px auto 20px;
}

.woocommerce-error ~ .module-small,
.woocommerce-info ~ .module-small,
.woocommerce-message ~ .module-small {
	padding-top: 10px;
}

.module-small-shop ul.products {
	padding-top: 50px;
}

.module-small-shop .woocommerce-breadcrumb {
	margin-bottom: 0;
}

.sidebar-shop {
	padding-top: 50px;
}

.woocommerce-noreviews,
p.no-comments {
	min-height: 20px;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	color: #666;
	background-color: #f5f5f5;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 0;
	padding: 15px;
	border-radius: 2px;
}

.woocommerce-info {
	border-color: #bce8f1;
	color: #31708f;
	background-color: #d9edf7;
}

.woocommerce-info a {
	color: #31708f;
	font-weight: bold;
}

.woocommerce-info a.button {
	float: right;
	border: none;
	color: #31708f;
	font-weight: bold;
}

.woocommerce-message {
	border-color: #d6e9c6;
	color: #3c763d;
	background-color: #dff0d8;
}

.woocommerce-message a {
	color: #3c763d;
	font-weight: bold;
}

.woocommerce-message a.button {
	float: right;
	border: none;
	color: #3c763d;
	font-weight: bold;
}

.woocommerce-error {
	border-color: #ebccd1;
	color: #a94442;
	background-color: #f2dede;
}

.woocommerce-error a {
	color: #a94442;
	font-weight: bold;
}

.woocommerce-error a:hover,
.woocommerce-message a:hover,
.woocommerce-info a:hover {
	opacity: 0.7;

	filter: alpha(opacity=70);
}

.woocommerce-error a.button {
	float: right;
	border: none;
	color: #a94442;
	font-weight: bold;
}

.woocommerce-error a.button:hover {
	opacity: 0.7;
}

.woocommerce-error a.wc-backward {
	padding-right: 20px;
	padding-left: 20px;
	color: #fff;
	background: #a94442;
}

.woocommerce-error::after,
.woocommerce-info::after,
.woocommerce-message::after,
.woocommerce-noreviews::after,
p.no-comments::after {
	display: table;
	clear: both;
	content: "";
}

.woocommerce-error pre,
.woocommerce-info pre,
.woocommerce-message pre,
.woocommerce-noreviews pre,
p.no-comments pre {
	background-color: rgba(0, 0, 0, 0.1);
}

.site-content > .col-full > .woocommerce > .woocommerce-error:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-info:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-message:first-child {
	margin-top: 2.618em;
}

dl.variation {
	font-size: 0.857em;
}

dl.variation dd {
	margin: 0 0 1em;
}

.tradiestandard-product-section {
	margin-bottom: 4.236em;
	border-bottom: 3px solid rgba(0, 0, 0, 0.025);
}

.tradiestandard-product-section .section-title {
	text-align: center;
}

.tradiestandard-product-section:last-child {
	border-bottom: 0;
}

p.stars {
	font-size: 1em;
}

p.stars a {
	display: inline-block;
}

p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4 {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

ul.products li.product {
	float: left;
	clear: none;
	width: 25%;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 0.857em;
}

.shop-with-sidebar ul.products li.product {
	width: 33.2%;
}

.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
	clear: left;
}

ul.products li.product.last {
	margin-right: 0;
}

ul.products li.product.first {
	clear: both;
}

.single-product ul.products li.product.first {
	clear: none;
}

.page-template-template-fullwidth-php .site-main .columns-1 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-1 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-1 ul.products li.product {
	float: none;
	width: 100%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .site-main .columns-2 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-2 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-2 ul.products li.product {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-3 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-3 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-3 ul.products li.product {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-4 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-4 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-4 ul.products li.product {
	float: left;
	width: 21.7391304348%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-5 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-5 ul.products li.product,
.tradiestandard-full-width-content .site-main .columns-5 ul.products li.product {
	width: 16.9%;
	margin-right: 3.8%;
}

.site-main .columns-1 ul.products li.product {
	float: none;
	width: 100%;
	margin-right: 0;
}

.site-main .columns-2 ul.products li.product {
	width: 48%;
	margin-right: 3.8%;
}

.site-main .columns-3 ul.products li.product {
	float: left;
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
}

.site-main .columns-4 ul.products li.product {
	width: 22.05%;
	margin-right: 3.8%;
}

.site-main .columns-5 ul.products li.product {
	width: 16.9%;
	margin-right: 3.8%;
}

.site-main ul.products li.product {
	float: left;
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
}

.single-product div.product .images {
	float: right;
	position: relative;
	width: 30%;
	margin-right: 5.8823529412%;
	margin-bottom: 3.631em;
}

.single-product div.product .images .thumbnails::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .summary {
	float: left;
	width: 70%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.single-product div.product .woocommerce-tabs {
	clear: both;
}

#reviews .comment-form-author,
#reviews .comment-form-email {
	width: 50%;
	padding: 0 15px;
}

#reviews .comment-form-email {
	margin-right: 0;
	padding-right: 0;
}

.tradiestandard-full-width-content.single-product div.product .images {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
	margin-bottom: 3.631em;
}

.tradiestandard-full-width-content.single-product div.product .images .thumbnails a.zoom {
	float: left;
	width: 14.2857142857%;
	margin-right: 14.2857142857%;
}

.tradiestandard-full-width-content.single-product div.product .images .thumbnails a.zoom.last {
	margin-right: 0;
}

.tradiestandard-full-width-content.single-product div.product .summary {
	float: right;
	width: 65.2173913043%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.tradiestandard-full-width-content.single-product div.product .woocommerce-tabs {
	clear: both;
}

.tradiestandard-full-width-content.single-product .related ul.products li.product {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.woocommerce .page-description {
	float: left;
	width: 100%;
	margin-bottom: 1.618em;
	padding: 0 15px 15px;
}

.tradiestandard-sorting {
	margin-bottom: 2.618em;
}

.tradiestandard-sorting::after {
	display: table;
	clear: both;
	content: "";
}

.tradiestandard-sorting select {
	width: 9.505em;
}

.woocommerce-result-count {
	float: left;
	position: relative;
	margin-bottom: 0;
	padding: 0.327em 0;
}

.woocommerce-ordering {
	float: right;
	margin-right: 1em;
	margin-bottom: 0;
	padding-right: 15px;
	padding-left: 15px;
}

.woocommerce-ordering select {
	height: 33px;
	padding-left: 10px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 2px;
}

.woocommerce-pagination {
	clear: none;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}

.woocommerce-pagination .page-numbers.current {
	display: inline-block;
	border-color: #cacaca;
}

.woocommerce-pagination ul.page-numbers {
	margin-left: 0;
	padding-left: 0;
}

.col2-set {
	float: left;
	width: 52.9411764706%;
	margin-right: 5.8823529412%;
}

.col2-set .form-row-first {
	float: left;
	width: 33.3333333333%;
	margin-right: 11.1111111111%;
}

.col2-set .form-row-last {
	float: right;
	width: 55.5555555556%;
	margin-right: 0;
}

.col2-set .col-1,
.col2-set .col-2 {
	margin-bottom: 1.618em;
}

.col2-set + #customer_details {
	display: none;
}

.page-template-template-fullwidth-php .col2-set {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .col2-set .form-row-first {
	width: 45.4545454545%;
	margin-right: 9.0909090909%;
}

.page-template-template-fullwidth-php .col2-set .form-row-last {
	float: right;
	width: 45.4545454545%;
	margin-right: 0;
}

.form-row-first {
	float: left;
	clear: both;
	width: 47.0588235294%;
	margin-right: 5.8823529412%;
}

.form-row-last {
	float: right;
	width: 47.0588235294%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .form-row-first {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .form-row-last {
	float: right;
	width: 47.8260869565%;
	margin-right: 0;
}

.tradiestandard-full-width-content .woocommerce-tabs ul.tabs {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.tradiestandard-full-width-content .woocommerce-tabs .panel {
	float: right;
	width: 65.2173913043%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.woocommerce-tabs {
	margin-bottom: 2.618em;
	padding-top: 2.618em;
	padding-bottom: 2.618em;
}

.woocommerce-tabs::after {
	display: table;
	clear: both;
	content: "";
}

.woocommerce-tabs ul.tabs {
	float: left;
	width: 100%;
	padding-left: 0;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	float: left;
	margin: 0;
	margin-bottom: -1px;
}

.woocommerce-tabs ul.tabs li a {
	display: block;
	padding: 10px 15px;
}

.woocommerce-tabs ul.tabs li.active {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #555;
	background-color: #fff;
	cursor: default;
}

.woocommerce-tabs .panel {
	float: left;
	width: 100%;
	margin-top: 0;
}

.related.products {
	padding: 70px 0 0 0;
}

.related.products .amount {
	font: 400 12px/1.8 "Open Sans", sans-serif;
}

.related.products h2 {
	position: relative;
	color: #111;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
}

#review_form_wrapper {
	clear: both;
}

#reviews #comments .comment-text {
	float: left;
	margin-left: 20px;
}

#reviews #comments p.meta strong {
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#reviews form input {
	float: left;
	width: 100%;
	height: 33px;
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 2px;
}

#reviews form p {
	float: left;
	margin: 0;
}

#reviews p.comment-form-comment,
#reviews p.comment-form-comment textarea {
	width: 100%;
	padding-left: 15px;
}

#reviews p.comment-form-comment textarea {
	margin-bottom: 15px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-size: 12px;
	letter-spacing: 2px;
}

#review_form_wrapper form {
	float: left;
	margin-top: 25px;
	margin-left: -15px;
}

p.comment-form-rating {
	width: 33.33%;
	padding-right: 15px;
	padding-left: 15px;
}

#reviews form input[type="submit"] {
	margin-left: 15px;
	padding: 8px 37px;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
}

#reviews form input[type="submit"]:hover {
	background: rgba(17, 17, 17, 1);
}

.wc-backward {
	padding: 8px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.wc-backward:hover {
	color: #fff;
	background: rgba(17, 17, 17, 1);
}

ul.products li.product {
	overflow: hidden;
}

ul.products li.product:nth-child(4n+1) {
	clear: left;
}

.shop-with-sidebar ul.products li.product:nth-child(4n+1) {
	clear: none;
}

.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
	clear: left;
}

h1.page-title {
	margin-top: 0;
}

.container-wooinfo {
	padding-right: 0;
	padding-left: 0;
}

.tradiestandard_hidden_if_not_customizer {
	display: none !important;
}

body.home .navbar-color-customizer {
	background-color: rgba(10, 10, 10, 0.9) !important;
}

.shop-item-detail {
	padding: 0;
}


.shop-item-detail del,
.shop-item-detail ins {
	display: none;
}

/* rating stars */
p.stars {
	position: relative;
	width: 100px;
	height: 20px;
}

p.stars span {
	float: left;
	overflow: hidden;
	width: 100px;
	height: 20px;
	line-height: 20px;
}

p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4,
p.stars a.star-5 {
	float: left;
	position: relative;
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	color: transparent;
}

p.stars span:before,
p.stars a.star-1:hover:before,
p.stars a.star-2:hover:before,
p.stars a.star-3:hover:before,
p.stars a.star-4:hover:before,
p.stars a.star-5:hover:before {
	color: #ccc;
	font-family: star;
	font-size: 16px;
	text-align: left;
	letter-spacing: 2px;
}

p.stars:hover a.star-1.active:before,
p.stars:hover a.star-2.active:before,
p.stars:hover a.star-3.active:before,
p.stars:hover a.star-4.active:before,
p.stars:hover a.star-5.active:before {
	color: transparent;
}

p.stars a.star-1.active:hover:before,
p.stars a.star-2.active:hover:before,
p.stars a.star-3.active:hover:before,
p.stars a.star-4.active:hover:before,
p.stars a.star-5.active:hover:before {
	color: #f1c40f;
}

p.stars span:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	content: "\53\53\53\53\53";
}

p.stars a.star-1 {
	z-index: 10;
	width: 18px;
}

p.stars a.star-2 {
	z-index: 8;
	width: 36px;
	margin-left: -18px;
}

p.stars a.star-3 {
	z-index: 6;
	width: 54px;
	margin-left: -36px;
}

p.stars a.star-4 {
	z-index: 4;
	width: 72px;
	margin-left: -54px;
}

p.stars a.star-5 {
	z-index: 2;
	width: 90px;
	margin-left: -72px;
}

p.stars a.star-1:hover:before,
p.stars a.star-2:hover:before,
p.stars a.star-3:hover:before,
p.stars a.star-4:hover:before,
p.stars a.star-5:hover:before,
p.stars a.star-1.active:before,
p.stars a.star-2.active:before,
p.stars a.star-3.active:before,
p.stars a.star-4.active:before,
p.stars a.star-5.active:before {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	height: 20px;
	color: #f1c40f;
	font-family: star;
	font-size: 16px;
	letter-spacing: 2px;
}

p.stars a.star-1:hover:before,
p.stars a.star-1.active:before {
	z-index: 9;
	width: 18px;
	content: "\53";
}

p.stars a.star-2:hover:before,
p.stars a.star-2.active:before {
	z-index: 7;
	width: 36px;
	content: "\53\53";
}

p.stars a.star-3:hover:before,
p.stars a.star-3.active:before {
	z-index: 5;
	width: 54px;
	content: "\53\53\53";
}

p.stars a.star-4:hover:before,
p.stars a.star-4.active:before {
	z-index: 3;
	width: 72px;
	content: "\53\53\53\53";
}

p.stars a.star-5:hover:before,
p.stars a.star-5.active:before {
	z-index: 1;
	width: 90px;
	content: "\53\53\53\53\53";
}

p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
	display: none;
	content: "";
}

a.remove {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border: 0;
	border-radius: 100%;
	color: rgb(249, 98, 98);
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
}

a.remove:hover {
	color: #fff;
	background: rgb(249, 98, 98);
}

/****
Search form Header
****/
.header-search {
	float: right;
	position: relative;
	width: 25px;
	height: 25px;
	text-align: center;
}

.header-search-button {
	color: #aaa;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.header-search-input {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 220px;
	padding: 5px;
	background: rgba(26, 26, 26, 0.9);
}

.header-search.header-search-open .header-search-input {
	display: block;
}

.header-search-input input[type=submit] {
	position: absolute;
	z-index: 9;
	top: 5px;
	right: 5px;
	width: 28px;
	height: 33px;
	border: none;
	background: none;
	text-indent: -9999999px;
}

.header-search-input input[type="search"] {
	width: 100%;
	padding: 10px;
	padding-right: 28px;
	border: none;
	border-radius: 0;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
}

.header-search-input:after {
	display: inline-block;
	position: absolute;
	z-index: 8;
	top: 5px;
	right: 5px;
	width: 20px;
	width: 33px;
	color: #999;
	font-family: "Glyphicons Halflings";
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	line-height: 33px;
	content: "\e003";
}

/****
Single product page
****/
.woocommerce.single-product .price ins {
	float: left;
	width: 100%;
}

.woocommerce.single-product .price ins .amount {
	float: left;
	width: 100%;
	color: #666;
	line-height: 36px;
	text-decoration: none;
}

.woocommerce.single-product .product-type-variable .price ins {
	font-size: 32px;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce.single-product .product-type-variable .price ins .amount {
	float: none;
	width: auto;
}

.woocommerce.single-product .product-type-grouped .label {
	display: table-cell;
	padding: 0;
	font-size: 75%;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	vertical-align: middle;
	white-space: inherit;
}

.woocommerce.single-product .price del {
	float: left;
	width: 100%;
}

.woocommerce.single-product .price del .amount {
	font-size: 20px;
	line-height: 24px;
}

.woocommerce.single-product .stock {
	float: left;
	width: 100%;
}

.woocommerce.single-product div[itemprop="offers"] {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.woocommerce.single-product div[itemprop="description"] {
	float: left;
	width: 100%;
}

.woocommerce.single-product div.product .woocommerce-product-rating {
	margin-bottom: 0;
	padding: 0 0 20px;
}

.product-main-content .onsale {
	z-index: 10;
	right: auto;
	left: 3px;
}

.woocommerce .comment_container {
	float: left;
	position: relative;
}

.woocommerce .form-row input[type="submit"] {
	width: auto;
	padding: 8px 37px;
	border: none;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce .form-row input[type="submit"]:hover {
	background: rgba(17, 17, 17, 0.8);
}

#reviews .commentlist li .avatar {
	position: absolute;
	top: 0;
	left: 0;
}

#reviews #comments .comment-text {
	float: left;
	margin-left: 70px;
}

#reviews #comments .comment-text {
	position: relative;
	padding-top: 18px;
}

#reviews #comments .comment-text .star-rating {
	position: absolute;
	bottom: 0;
	left: 0;
}

#reviews .commentlist li {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	list-style: none;
}

#review_form_wrapper form {
	width: 100%;
	margin-left: 0;
}

#reviews .comment-form-rating {
	min-height: 33px;
	padding-bottom: 15px;
	padding-left: 0;
}

#reviews p.comment-form-comment,
#reviews p.comment-form-comment textarea {
	padding-left: 0;
}

#reviews p.comment-form-comment textarea {
	height: 75px;
	padding: 6px 12px;
}

#reviews form input[type="submit"] {
	margin-left: 0;
	line-height: 15px;
}

#reviews .comment-form-author {
	padding-left: 0;
}

#reviews form .form-submit {
	clear: left;
}

.woocommerce-tabs ul.tabs li,
.woocommerce-tabs ul.tabs li.active {
	border: none;
	background: none;
}

.woocommerce-tabs ul.tabs li a {
	display: block;
	position: relative;
	margin-right: 2px;
	padding: 10px 15px;
	border: 1px solid #fff;
	border-bottom-color: transparent;
	border-radius: 2px;
	border-radius: 4px 4px 0 0;
	color: #555;
	line-height: 1.42857143;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce-tabs ul.tabs li.active a {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background-color: #fff;
	cursor: pointer;
}

.woocommerce-tabs ul.tabs li a:hover {
	border-color: #eee #eee #ddd;
	background-color: #eee;
	text-decoration: none;
}

.woocommerce-tabs ul.tabs li.active a:hover {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background: #fff;
	cursor: default;
}

.single-product div.product .images {
	width: 30%;
	margin-right: 0;
	padding: 0 15px 0 0;
}

.single-product figure.woocommerce-product-gallery__wrapper {
	max-width: inherit;
	margin-bottom: 20px;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li {
	display: inline-block;
	margin: 2px 11px 10px 0;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n) {
	margin-right: 0;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n+1),
.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
	margin-left: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	width: auto;
	cursor: pointer;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:after {
	display: block;
	position: absolute;
	top: 19px;
	left: 22px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 2px;
	height: 8px;
	border-radius: 6px;
	background: #000;
	content: "";
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
	display: block;
	position: absolute;
	top: 9px;
	left: 9px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 100%;
	content: "";
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	z-index: 9;
	top: 15px;
	right: 30px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background: #fff;
	font-size: 2em;
	text-indent: -9999px;
}

.single-product div.product .summary {
	width: 70%;
	padding: 0 0 0 15px;
}

.single-product div.product .woocommerce-product-rating a {
	padding-left: 5px;
	font-size: 12px;
}

.single-product div.product p.stock.in-stock:before,
.single-product div.product p.stock.out-of-stock:before {
	display: none;
}

.woocommerce-tabs .panel h2 {
	margin: 0 0 20px;
	padding-top: 30px;
	padding-bottom: 15px;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce.single-product ul.products {
	margin-bottom: 0;
	padding-bottom: 0;
}

.woocommerce.single-product .related.products {
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 70px;
}

/* you may also like */
.woocommerce.single-product ul.products li.product img {
	width: 100%;
}

.woocommerce.single-product .price del {
	color: #999;
}

.woocommerce.single-product .price del .amount {
	color: #999;
}

.woocommerce.single-product ul.products li.product .price del {
	color: #999;
}

.woocommerce.single-product .owl-carousel .ex-product .woocommerce-Price-amount,
.woocommerce.single-product ul.products li.product .price del .amount {
	color: #999;
	font-size: 12px;
}

.single-product .owl-carousel .ex-product ins {
	text-decoration: none;
}

.woocommerce.single-product ul.products li.product .price ins .amount {
	line-height: 20px;
}

.woocommerce.single-product ul.products li.product .price ins {
	margin-left: 0;
}

.form-row #rememberme {
	vertical-align: -12px;
}

.form-row label {
	font-weight: normal;
}

.shop-with-sidebar {
	float: right;
	padding: 0;
}

/****
product list
****/
.woocommerce ul.products {
	float: left;
	min-width: 100%;
}

.woocommerce ul.products li.product .price del {
	float: left;
	width: 100%;
	color: #999;
	font-size: 12px;
}

.woocommerce ul.products li.product .price del .amount {
	color: #999;
	font: 400 12px/1.8 "Open Sans", sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce ul.products li.product .price ins {
	float: left;
	width: 100%;
	margin: 0;
	color: #999;
	font-size: 12px;
	text-decoration: none;
	text-decoration: none;
}

.woocommerce ul.products li.product .price ins .amount,
.woocommerce ul.products li.product .price .amount {
	color: #999;
	font: 400 12px/1.8 "Open Sans", sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .button.product_type_simple {
	padding: 5px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .button.product_type_simple:hover,
ul.products li.product .button.product_type_simple:focus {
	background: rgba(17, 17, 17, 0.8);
}

.product-rating-home .star-rating {
	display: inline-block;
	float: none;
	margin-bottom: 0;
}

ul.products li.product .product-button-wrap .button,
.product-button-wrap .button {
	display: inline-block;
	margin: 10px 5px 0;
	padding: 0 10px;
}

/****
Breacrumb
****/
.woocommerce-breadcrumb {
	line-height: 33px;
	margin-bottom: 10px;
}

.woocommerce-ordering {
	margin-right: 0;
}

.woocommerce-pagination {
	float: left;
	width: auto;
	margin-top: -5px;
	text-align: left;
}

.page-numbers {
	text-align: left;
}

/* woocommerce sidebar */
.widget_price_filter .ui-slider .ui-slider-handle {
	background: #212121;
}

.widget_price_filter .ui-slider .ui-slider-range {
	background: #e5e5e5;
}

.widget_price_filter .price_slider_amount .button {
	padding: 10px 30px;
	line-height: 13px;
}

.price_label {
	line-height: 33px;
}

.sidebar-shop .widget.widget_products ul li:before,
.sidebar-shop .widget.widget_recent_reviews ul li:before,
.sidebar-shop .widget.widget_recently_viewed_products ul li:before,
.sidebar-shop .widget.widget_top_rated_products ul li:before,
.sidebar-shop .widget.widget_product_categories  ul li:before,
.sidebar-shop .widget.widget_layered_nav .chosen:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	color: #666;
	content: "\00BB";
}

.product_list_widget .amount,
.product_list_widget del,
.product_list_widget ins {
	color: #999;
}

.product_list_widget ins {
	text-decoration: none;
}

.product_list_widget .amount {
	margin-right: 10px;
}

.widget.woocommerce li {
	position: relative;
	/*padding-left: 12px;*/
}

.widget.woocommerce a:hover .product-title,
.widget.woocommerce a:hover {
	color: #aaa;
}

.widget.woocommerce.widget_rating_filter .star-rating {
	position: absolute;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
}

.widget.woocommerce.widget_rating_filter .star-rating:before {
	float: right;
}

.widget_recently_viewed_products li a,
.widget_top_rated_products li a {
	display: block;
}

.bottom-page-wrap {
	position: relative;
	z-index: 19;
}

.bottom-page-wrap .widget_price_filter .ui-slider .ui-slider-handle {
	background: #fff;
}

.bottom-page-wrap .widget ul li {
	position: relative;
}

.bottom-page-wrap .widget.woocommerce ul li:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	color: #777;
	content: "\00BB";
}

.bottom-page-wrap .widget.woocommerce ul li:before {
	color: #777;
	content: "\00BB";
}

.bottom-page-wrap .widget .tagcloud a {
	background: rgba(255, 255, 255, 0.2);
}

.bottom-page-wrap .product-title,
.bottom-page-wrap .widget.woocommerce a {
	color: #aaa;
}

.bottom-page-wrap .widget_product_categories a .product-title:hover,
.bottom-page-wrap .widget.woocommerce a:hover {
	text-decoration: underline;
}

/****************************************/
/** WooCommerce Compare List plugin *****/
/****************************************/

a.button.compare,
.tradiestandard-compare-list-wrapper a.button.alt {
	position: relative;
	bottom: 0;
	border-radius: 2px;
	opacity: 1;
	color: #fff;
	background: #0b5b34;
	font-size: 10px;
	line-height: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

a.button.compare:hover {
	background: rgba(11, 91, 52, 0.8);
}

.tradiestandard-compare-list-wrapper {
	margin-top: 20px;
	margin-bottom: -40px;
}

.tradiestandard-compare-list-wrapper a.button.alt {
	margin-left: 10px;
}

.wccm-catalog-items {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}

.wccm-catalog-item {
	margin-bottom: 12px;
}

.wccm-catalog-item a.button {
	float: left;
	height: auto;
	margin-top: 12px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,1);
	border-radius: 2px;
	opacity: 1;
	color: rgba(17,17,17,1);
	background: transparent;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.wccm-catalog-item a.button:hover {
	border: 1px solid rgba(17,17,17,0.3);
	color: rgba(17,17,17,0.6);
}

.wccm-catalog-item a.button.alt,
.tradiestandard-compare-list-wrapper a.button.alt {
	border: 1px solid rgba(17,17,17,0.3);
	color: #999;
}

.wccm-catalog-item a.button.alt:hover,
.tradiestandard-compare-list-wrapper a.button.alt:hover {
	border: 1px solid rgba(17,17,17,0.15);
	color: rgba(153, 153, 153, 0.75);
}

.wccm-frontpage-compare-list .wccm-catalog-item {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 1em;
}

.wccm-frontpage-compare-list .wccm-catalog-item img {
	width: 48px;
	height: 48px;
}

.wccm-frontpage-compare-list .wccm-catalog-item a.dashicons,
.wccm-catalog-item a.dashicons {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	border-radius: 1px;
	color: #1b1b1b;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.wccm-catalog-item a.dashicons:hover {
	color: #fff;
	background: #a94442;
}

.wccm-thumb a {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	padding-left: 1px;
	border-radius: 1px;
	color: #1b1b1b;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.wccm-thumb a:hover {
	color: #fff;
	background: #a94442;
}

.wccm-thumb {
	width: 150px;
	height: 150px;
	background: rgba(221,221,221,0.35);
}

.product_meta a.button.compare,
.tradiestandard-compare-list-wrapper a.button.alt {
	float: left;
	height: auto;
	margin-top: 12px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,0.3);
	border-radius: 2px;
	opacity: 1;
	color: #999;
	background: transparent;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product_meta a.button.compare:hover,
.tradiestandard-compare-list-wrapper a.button.alt:hover {
	border: 1px solid rgba(17,17,17,0.15);
	color: rgba(153, 153, 153, 0.75);
}

.term-description {
	width: 1170px;
	max-width: 100%;
	margin: 70px auto 30px;
	padding: 0 30px;
}

@media screen and (max-width: 1200px) {
	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 970px;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 910px;
	}

	.term-description {
		width: 970px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 10px 10px 0;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n) {
		margin-right: 0;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n) {
		margin-right: 10px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n+1),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 992px) {
	/* single product page */
	#reviews .comment-form-author {
		width: 50%;
	}

	#reviews .comment-form-email {
		width: 50%;
		padding-right: 15px;
	}

	#reviews form p.comment-form-rating {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

/*+*/
	.woocommerce.single-product ul.products li.product {
		width: 50%;
	}

	.woocommerce.single-product ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

	.woocommerce.single-product ul.products li.product.first {
		clear: none !important;
	}

	.woocommerce.single-product ul.products li.product:nth-child(3n+1) {
		clear: none;
	}

	.woocommerce.single-product ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

/* product list */
	.woocommerce ul.products li.product {
		float: left;
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
		clear: none;
	}

	.woocommerce ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

	.woocommerce-ordering,
	.woocommerce-ordering select {
		width: 100%;
		margin-right: 0;
	}

	.woocommerce-breadcrumb {
		width: 100%;
		margin-bottom: 20px;
		line-height: 33px;
		text-align: center;
	}

	.page-numbers {
		text-align: center;
	}

	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 750px;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 690px;
		margin-top: 40px;
	}

	.module-small-shop .woocommerce-breadcrumb {
		margin-bottom: 1.236em;
	}

	.term-description {
		width: 750px;
	}

	.woocommerce-pagination {
		float: none;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 4px 10px 0 !important;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n) {
		margin-right: 0 !important;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n) {
		margin-right: 4px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n+1),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {

	.header-search {
		position: initial;
	}

	.header-search-input {
		width: 100%;
	}

	.tradiestandard_header_title {
		margin-left: 0;
	}

/* single product page */
	.woocommerce-tabs ul.tabs {
		border-bottom: 1px solid #ddd;
	}

	.woocommerce-tabs ul.tabs li.active a {
		border: 1px solid #ddd;
		border-bottom-color: transparent;
		background-color: #fff;
		cursor: pointer;
	}

	.woocommerce-tabs ul.tabs li a:hover {
		border-bottom-color: #eee;
	}

	.woocommerce-tabs ul.tabs li {
		margin-bottom: -1px;
	}

	.single-product div.product .images img {
		width: 100%;
	}

	.single-product div.product .images,
	.single-product div.product .summary {
		float: left;
	}

	.single-product div.product .images,
	.single-product div.product .summary {
		width: 100%;
		padding: 0;
	}

	#reviews .comment-form-author,
	#reviews .comment-form-email {
		width: 100%;
		padding: 0;
	}

	p.comment-form-rating {
		width: 100%;
		padding: 0;
	}

	.comment-form-rating {
		margin-bottom: 20px;
	}

	p.stars {
		padding: 0;
		text-align: left;
	}

	p.stars a {
		display: inline-block;
		font-size: 12px;
	}

/*+*/
	.woocommerce.single-product ul.products li.product {
		width: 100%;
	}

/* product list */
	.woocommerce ul.products li.product {
		width: 100%;
	}

/* cart */
	.col2-set {
		width: 100%;
	}

	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 100%;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 90%;
	}

	.shop-item-image,
	.woocommerce ul.products li.product {
		float: none;
		max-width: 370px;
		margin: 25px auto;
	}

	.shop-with-sidebar {
		float: none !important;
	}

	.woocommerce .page-description,
	.woocommerce-breadcrumb {
		float: initial;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 4px 10px 0 !important;
	}
}


@media(max-width: 600px) {

	.woocommerce-page .woocommerce .product-name a {
		float: left;
		font-size: 10px;
		line-height: 13px;
	}

	.woocommerce-pagination {
		width: 100%;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs {
		text-align: center;
	}
}

/*woocommerce override*/
.single-product .woocommerce-product-gallery .flex-control-thumbs li {
    width: 29.9%;
>>>>>>> 2f60927d06dd186fefafb15442a32abd421ec7aa
}