<<<<<<< HEAD
.customize-control-title {
	margin-top: 15px;
	color: rgb(0, 142, 214);
}

.customizer-repeater-general-control-repeater-container,
.customizer-repeater-general-control-repeater_container {
	float: left;
	width: 100%;
	margin: 5px 0;
	cursor: move;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden,
.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	padding: 5px;
	padding-top: 0;
	border: 1px solid #dfdfdf;
	border-top: 0;
}

button.social-repeater-general-control-remove-field {
	display: inline-block;
	width: 100%!important;
	margin-top: 10px!important;
	line-height: 17px !important;
	white-space: initial !important;
}

button.social-repeater-general-control-remove-field:hover {
	border: 0;
	color: #fff!important;
	background-color: #00a0d2!important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-text-control,
.customizer-repeater-general-control-repeater-container .customizer-repeater-link-control {
	width: 100% !important;
	margin: 3px 0 0 !important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-icon-control {
	width: 100%;
	margin: 0;
	padding: 0;
}

#customizer-repeater-new-field {
	width: 100%;
}

.customize-control-widget_form .widget-control-save {
	display: block !important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	display: none;
}

.customizer-repeater-box-content-hidden {
	background-color: #fff;
}

.customizer-repeater-customize-control-title {
	overflow: hidden;
	height: 40px;
	padding: 0 10px !important;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	color: #00a0d2;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	font-weight: bold;
	line-height: 40px !important;
	text-align: center;
	cursor: move !important;
}

.customizer-repeater-image-control .customizer-repeater-custom-media-button {
	margin-top: 5px;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	padding-top: 5px;
}

.customizer-icons {
	display: inline-block;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

.customizer-repeater-social-repeater > .customizer-repeater-social-repeater-container:not(:first-child) {
	margin-top: 25px;
}

.icp-container {
	margin-bottom: 10px;
}

.customizer-repeater-social-repeater-link {
	width: 215px!important;
}

.social-repeater-add-social-item {
	margin-top: 10px;
}
=======
.customize-control-title {
	margin-top: 15px;
	color: rgb(0, 142, 214);
}

.customizer-repeater-general-control-repeater-container,
.customizer-repeater-general-control-repeater_container {
	float: left;
	width: 100%;
	margin: 5px 0;
	cursor: move;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden,
.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	padding: 5px;
	padding-top: 0;
	border: 1px solid #dfdfdf;
	border-top: 0;
}

button.social-repeater-general-control-remove-field {
	display: inline-block;
	width: 100%!important;
	margin-top: 10px!important;
	line-height: 17px !important;
	white-space: initial !important;
}

button.social-repeater-general-control-remove-field:hover {
	border: 0;
	color: #fff!important;
	background-color: #00a0d2!important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-text-control,
.customizer-repeater-general-control-repeater-container .customizer-repeater-link-control {
	width: 100% !important;
	margin: 3px 0 0 !important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-icon-control {
	width: 100%;
	margin: 0;
	padding: 0;
}

#customizer-repeater-new-field {
	width: 100%;
}

.customize-control-widget_form .widget-control-save {
	display: block !important;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	display: none;
}

.customizer-repeater-box-content-hidden {
	background-color: #fff;
}

.customizer-repeater-customize-control-title {
	overflow: hidden;
	height: 40px;
	padding: 0 10px !important;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	color: #00a0d2;
	background-color: #f1f1f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	font-weight: bold;
	line-height: 40px !important;
	text-align: center;
	cursor: move !important;
}

.customizer-repeater-image-control .customizer-repeater-custom-media-button {
	margin-top: 5px;
}

.customizer-repeater-general-control-repeater-container .customizer-repeater-box-content-hidden {
	padding-top: 5px;
}

.customizer-icons {
	display: inline-block;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

.customizer-repeater-social-repeater > .customizer-repeater-social-repeater-container:not(:first-child) {
	margin-top: 25px;
}

.icp-container {
	margin-bottom: 10px;
}

.customizer-repeater-social-repeater-link {
	width: 215px!important;
}

.social-repeater-add-social-item {
	margin-top: 10px;
}
>>>>>>> 2f60927d06dd186fefafb15442a32abd421ec7aa
